<footer class="footer">
    <div class="content has-text-centered">
        <p>
            {{ _fe('This page was generated in {0} ms and used {1} of ram.', runtime(), max_mem_usage(false)) }}
        </p>
    </div>
</footer>