<div class="hero-foot is-info">
    <div class="content has-text-centered">
        <p class="mb-2 mt-2">
            {{ _fe('This page was generated in {0} ms and used {1} of ram.', runtime(), max_mem_usage(false)) }}
        </p>
    </div>
</div>
