{% if has_message('status') %}
    <article class="message is-info">
        <div class="message-body">
            {% for msg in flash('status') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </div>
    </article>
{% endif %}

{% if has_message('success') %}
    <article class="message is-success">
        <div class="message-body">
            {% for msg in flash('success') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </div>
    </article>
{% endif %}

{% if has_message('error') %}
    <article class="message is-danger">
        <div class="message-body">
            {% for msg in flash('error') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </div>
    </article>
{% endif %}
