parameters:
    level: 8
    checkMissingIterableValueType: false
    bootstrapFiles:
        - config/constants.php
    paths:
        - app
        - tests
        - bin
        - bootstrap
        - config
        - routes
        - var
