{% set link = full_url_for('auth.password.reset', {}, {'email': user.email, 'code': code}) %}

<p>
    Hi {{ user.username }},
</p>

<p>
    Click the link below to reset your password and recover your account.
</p>
<p>
    <a href="{{ link }}">{{ link }}</a>
</p>

<p>
    {{ settings.site_name }} Staff
</p>
