<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ settings.site_name }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% block css %}
        {% webpack_entry_css 'default' %}
    {% endblock %}
</head>
<body>
<section class="hero is-fullheight">
    {% include 'components/menu.twig' %}

    {% block content %}{% endblock %}

    {% include 'components/footer.twig' %}
    {% block js %}
        {% webpack_entry_js 'default' %}
    {% endblock %}

    {% include 'components/cookieconsent.twig' %}
</section>
</body>
</html>
