{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="hero-body has-background-info">
        {% include 'components/notification.twig' %}
        <div class="container">
            <p class="title has-text-white">
                {{ _f('Dashboard') }}
            </p>
        </div>
    </div>
{% endblock %}
