{% extends 'layouts/app.twig' %}

{% block content %}
    <section class="hero is-info is-fullheight-with-navbar">
        {% include 'components/notification.twig' %}
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    {{ _f('Current time') }}: {{ "now"|date("H:i:s", false) }}
                </p>
            </div>
        </div>
    </section>
{% endblock %}
