{% extends 'layouts/app.twig' %}

{% block content %}
    {% include 'components/notification.twig' %}
    <div class="hero-body has-background-info">
        <div class="container">
            <p class="title has-text-white">
                {{ settings.site_name }}
            </p>
        </div>
    </div>

{% endblock %}
